.button {
    height: 2.4375rem;
    width: 7.125rem;

    font-size: var(--size-link);
    font-weight: var(--weight-nav);

    background-color: var(--primary);
    color: var(--white);

    border: 1px solid var(--primary);
    border-radius: 12px;
}

button:hover {
    border: 1px solid var(--primary);
    background-color: var(--hover);
}