.name {
    color: var(--white);

    font-size: var(--size-h3);
    font-weight: var(--weight-bold)
}

.img {
    width: 28px;
    height: 28px;
}

.item {
    /* width: 325px; */
    width: clamp(277px, 40vw, 325px);
    height: 86px;
    padding-left: 35px;

    border: solid 1px var(--white);
    border-radius: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

@media(max-width:632px) {
    .item {
        width: clamp(210px, 100%, 325px);
    }
}