.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin: 120px 0px 0px;
    padding: 25px;
    gap: 25px;

    border-top: solid 1px var(--white);
    border-bottom: solid 1px var(--white);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container>div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.title {

    color: var(--white);

    font-size: clamp(var(--size-h2-min), 10vw, var(--size-h2-max));
    font-weight: var(--weight-bold);
}

.paragraph {
    color: var(--white);

    font-size: var(--size-p);
    font-weight: var(--weight-regular);

    text-align: center;
}

.name {
    color: var(--white);

    font-size: var(--size-p);
    font-weight: var(--weight-regular);
    line-height: var(--line-heigth-p);
}

@media(max-width:632px) {
    .footer {
        justify-content: center;
    }
}