.section {
    display: flex;
    flex-direction: column;
    margin: 120px 0px;
    gap: 2.1875rem;
}

.title {
    color: var(--white);

    font-size: clamp(var(--size-h2-min), 10vw, var(--size-h2-max));
    font-weight: var(--weight-bold);
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: auto;
    gap: 15px;
}